@import 'tailwindcss';

@theme {
  --color-blue: #1fb6ff;
  --color-purple: #7e5bef;
  --color-pink: #ff49db;
  --color-orange: #e15225;
  --color-orange-second: #f5744c;
  --color-orange-third: #f9cbbb;
  --color-orange-dark: #b04623;
  --color-orange-light: #f9e1da;
  --color-green: #13ce66;
  --color-yellow: #ffc82c;
  --color-gray-dark: #404040;
  --color-gray: #8492a6;
  --color-gray-light: #d3dce6;

  --font-sans: Manrope, Roboto, sans-serif;
  --font-display: MAK, Arial, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  /* @font-face {
    font-family: 'Manrope';
    src: url(/app/fonts/manrope/manrope-bold.woff2) format('woff2'),
      url(/app/fonts/manrope/manrope-bold.woff) format('woff'),
      url(/app/fonts/manrope/manrope-bold.otf) format('truetype');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'Manrope';
    src: url(/app/fonts/manrope/manrope-semibold.woff2) format('woff2'),
      url(/app/fonts/manrope/manrope-semibold.woff) format('woff'),
      url(/app/fonts/manrope/manrope-semibold.otf) format('truetype');
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: 'MAK';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/app/fonts/mak/MAK.ttf) format('ttf');
  }
  @font-face {
    font-family: 'MAK';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url(/app/fonts/mak/MAK-bold.woff) format('woff');
  } */
  body {
    @apply bg-white text-[#393939] font-sans;
  }
  h1 {
    @apply text-[30px] sm:text-5xl;
  }
  h2 {
    @apply text-[30px] sm:text-5xl;
  }
  h4 {
    @apply text-[16px] sm:text-[24px] leading-9 font-semibold tracking-[0.02em];
  }
  h5 {
    @apply text-[14px] sm:text-[20px] leading-5 font-semibold tracking-[0.02em];
  }
  h6 {
    @apply text-[14px] md:text-[18px] leading-5 font-semibold tracking-[0.02em];
  }
  p {
    @apply text-[16px] leading-5 font-semibold tracking-[0.02em];
  }
  .section {
    @apply mt-8 sm:mt-[72px];
  }
  .animate-simple {
    @apply transition duration-150 ease-in-out;
  }
  .uslugi_card {
    @apply relative px-8 pt-5 pb-8 sm:p-8 rounded-xl;
  }
  .uslugi_list {
    @apply mt-4 sm:mt-6 flex flex-col gap-[18px] sm:gap-5 text-[14px] sm:text-[20px] leading-6 font-medium tracking-wide;
  }
  .medflex-round-widget__button {
    @apply text-base! w-20! h-20!;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1160px;
  }
}
@media (width >= 1280px) {
  .container {
    max-width: 1160px;
  }
}

.bg-gradient {
  background: linear-gradient(
      147.19deg,
      rgba(225, 82, 37, 0.75) 30.85%,
      rgba(255, 255, 255, 0.75) 93.4%
    ),
    #e15225;
}

.bg-gradient_second {
  background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 17.12%,
      rgba(225, 82, 37, 0.85) 100%
    ),
    #f9e1da;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #e15225;
}

/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
} */

.alice-carousel__stage-item.__active {
  margin: 0 8px;
}
.alice-carousel__stage-item:nth-child(1 of .__active),
.alice-carousel__stage-item:nth-last-child(1 of .__active) {
  margin: 0;
}

/* Гамбургер кнопка хеадер */
.hamburger-lines {
  height: 20px;
  width: 37px;
  z-index: 200;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #e15225;
}

.bg-gradient1 {
  background: rgba(0, 0, 0, 0);
}
.bg-gradient2 {
  background: linear-gradient(
      146.64deg,
      rgba(225, 82, 37, 0.75) 10.96%,
      rgba(255, 255, 255, 0.75) 95.38%
    ),
    #e15225;
}

/* Карта Яндекс */
.ymaps3x0--map-container {
  border-radius: 15px;
}
.ymaps3x0--marker {
  z-index: 0;
  width: 50px;
}
.my-marker {
  margin-top: -40px;
  margin-left: -30px;
}
.marker-title {
  margin-top: -5px;
  font-size: 10px;
  color: #e15225;
}

/* Мобильный адаптив */
@media (max-width: 768px) {
  .bg-gradient1 {
    background: linear-gradient(
        146.64deg,
        rgba(225, 82, 37, 0.75) 10.96%,
        rgba(255, 255, 255, 0.75) 95.38%
      ),
      #e15225;
  }
  .bg-gradient2 {
    background: white;
  }
}
